.blog {
    & .search-wrap {
        flex-grow: 1;

        @include for-desktop{
            order: 10;
            flex: 1 0 100%;
        }
        @include small-tablet{
            flex: unset;
            order: 2;
            flex-grow: 1;
        }

        & form {
            border: 1px solid rgba(0, 0, 0, 0.15);
            border-radius: 6px;
            padding: 0px 12px;
            background: #fff;
            height: 48px;
            display: flex;
            align-items: center;
            gap: 8px;
            width: 100%;

            & .datamarket_inner_input {
                font-weight: 400;
                font-size: 14px;
                line-height: 157%;
                color: rgba(0, 0, 0, 1);
                border: none;

                &:placeholder {
                    color: rgba(0, 0, 0, 0.25);
                }

                &:active,
                &:focus {
                    outline: none;
                }
            }
        }
    }

    & .blog_top {
        display: flex;
        align-items: center;
        gap: 16px;
        max-width: 1000px;
        margin-left: auto;
        padding: 14px 0;

        @include for-desktop{
            flex-wrap: wrap;
        }

        &>button {
            // width: ;
            padding: 0px 10px;
            height: 48px;
            border: 1px solid rgba(0, 0, 0, 0.15);
            border-radius: 6px;
            box-shadow: 0 2px 0 0 rgba(0, 0, 0, 0.02);
            background: transparent;
            display: flex;
            justify-content: center;
            align-items: center;
            gap: 16px;

            @include for-desktop{
                order: -1;
            }

            @include small-tablet{
                order: unset;
            }

            & svg {
                width: 24px;
                height: 24px;
            }
        }

        & .blog_filters {
            display: flex;
            align-items: center;
            gap: 20px;
            flex-grow: 1;

            @include for-desktop{
                justify-content: flex-end;
            }

            @include small-tablet{
                justify-content: center;
                flex: 1 0 100%;
                order: -1;
            }

            @include mobile{
                flex-wrap: wrap;

                & li:first-child{
                    display: none;
                }
            }

            & li {
                &:first-child {
                    opacity: 0.6;
                }

                & a {
                    padding: 5px 14px;
                    transition: all 0.3s linear;
                    font-weight: 400;
                    font-size: 14px;
                    letter-spacing: -0.05em;
                    text-align: center;
                    color: #192031;
                    border-bottom: 1px solid transparent;
                }

                &.active {
                    & a {
                        font-family: var(--font6);
                        border-color: #000;
                        font-weight: 600;
                    }
                }
            }
        }
    }

    & .blog_line {
        margin-bottom: 40px;
        border: none;
        background-color: rgba(0, 0, 0, 0.2);
        height: 1px;
        width: 100%;
    }

    & .blog_bottom {
        display: flex;
        align-items: flex-start;
        gap: 100px;
        transition: all 0.3s ease;

        @include for-desktop{
            gap: 20px;
        }
        @include small-tablet{
            position: relative;
        }
    }

    & aside {
        max-width: 275px;

        & .blog_aside_list {
            display: flex;
            flex-wrap: wrap;
            gap: 8px;

            & li {
                & a {
                    padding: 8px 24px;
                    font-weight: 600;
                    font-size: 14px;
                    text-align: center;
                    border-radius: 11px;
                    background: #f0f0f0;
                    opacity: 0.5;
                    color: #000;
                    display: block;
                }

                &.active {

                    & a {
                        opacity: 1;
                        color: #fff;
                        background-color: var(--accent-color);
                    }
                }
            }
        }
    }

    & article {
        display: grid;
        gap: 24px;
        row-gap: 24px;
        column-gap: 28px;
        grid-template-columns: repeat(auto-fit, minmax(240px, 1fr));

        & *{
            transition: all 0.3s linear;
        }

        & .blog_post.--line {
            position: relative;

            &:after {
                content: '';
                height: 100%;
                width: 1px;
                background-color: rgba(10, 13, 80, 0.2);
                position: absolute;
                right: -14px;
                top: 0;
                bottom: 0;
                z-index: 1;
            }

        }

        & .blog_post {
            display: flex;
            flex-direction: column;
            gap: 20px;

            & img {
                border-radius: 8px;
            }

            & a,
            & .project_title_h4 {
                color: var(--accent-color);
            }

            & time {
                opacity: 0.6;
                font-family: var(--font6);
                font-weight: 500;
                font-size: 12px;
                letter-spacing: -0.05em;
                text-transform: uppercase;
                color: #000;
            }
        }

    }

    & .project-modal{
        margin-left: auto;
        margin-right: auto;
        margin-top: 40px;
    }
}

.blog_bottom aside {
    transition: all 0.3s ease;
    transform: translateX(0);
    opacity: 1;

    @include small-tablet{
        position: absolute;
        top: 0;
        left: 20px;
        bottom: 0;
        background-color: #fff;
        z-index: 1;
    }
  }
  
  .blog_bottom aside.hidden {
    transform: translateX(-100%);
    opacity: 0;
    flex: 0 0 0;
    max-width: 0;
    margin-left: -100px;

    @include for-desktop{
        margin-left: -20px;
    }
  }

//   @media (max-width: 768px) {
//     .blog_bottom aside {
//         position: absolute;
//         top: 0;
//         right: 0;
//         width: 300px; /* Задайте ширину, подходящую для вашего сайдбара */
//         height: 100%;
//         transform: translateX(100%);
//         opacity: 0;
//     }

//     .blog_bottom aside.hidden {
//         transform: translateX(0);
//         opacity: 1;
//     }
// }