.choosen {
    & .choosen_inner {
        @include bg-cover;
        padding: 80px 35px;
    }

    & .project_title {
        color: #fff;
        text-align: center;
        margin-bottom: 50px;
    }

    & .grid-row {
        grid-template-columns: repeat(auto-fit, minmax(230px, 1fr));
        gap: 14px;

        & .choosen_inner_item {
            background: #0a0d50;
            box-shadow: 0 4px 10px 0 rgba(0, 0, 0, 0.1);
            border: 1px solid #fff;
            border-radius: 8px;
            background: #fff;

            &.--accent {
                background: #0a0d50;

                & dt,
                & dd {
                    color: #fff;
                }
            }

            & dl {
                display: flex;
                flex-direction: column;
                gap: 16px;

                & dt {
                    font-weight: 700;
                    font-size: clamp(45px, 4.5vw, 72px);
                    line-height: 133%;
                    text-align: center;
                    color: #878c91;
                }

                & dd {
                    font-family: var(--font-family);
                    font-weight: 400;
                    font-size: 16px;
                    line-height: 140%;
                    text-align: center;
                    color: #878c91;
                }
            }
        }
    }
}