.dhero {
    margin-bottom: 0;

    & .grid-row {
        grid-template-columns: repeat(auto-fit, minmax(430px, 1fr));
        gap: 20px;

        @include tablet {
            grid-template-columns: 1fr;
            gap: 25px;
        }

        & .dhero_item {
            &:first-of-type {
                display: flex;
                flex-direction: column;
                gap: 48px;

                @include tablet{
                    gap: 25px;
                }
            }

            &:last-of-type {
                position: relative;
            }
        }

        & .project_main_title {
            margin-bottom: 0;
        }

        & .dhero_item_adv_top {
            font-weight: 600;
            font-size: 14px;
            line-height: 126%;
            letter-spacing: -0.03em;
            color: #fff;
            display: flex;
            align-items: center;
            display: inline-flex;

            &:before {
                width: 54px;
                height: 1px;
                background-color: #fff;
                margin-right: 13px;
                display: inline-flex;
                content: "";
            }
        }

        & .dhero_item_adv {
            padding: 25px;
            padding-bottom: 34px;
            backdrop-filter: blur(84px);
            background: rgba(10, 13, 80, 0.2);
            border-radius: 20px;
            overflow: hidden;

            @include tablet{
                background-repeat: no-repeat !important;
                background-position: center;
                background-size: cover !important;
                background: unset;
                padding-bottom: 20px;
            }

            position: absolute;
            bottom: 70px;
            left: 0;
            z-index: 1;

            @include tablet {
                position: relative;

                bottom: 0;
                z-index: 2;
            }
        }

        & .dhero_item_adv_bottom {
            font-weight: 600;
            font-size: 32px;
            line-height: 130%;
            letter-spacing: -0.02em;
            color: #fff;
            margin-top: 35px;
            display: block;

            @include for-desktop {
                font-size: 24px;
                margin-top: 25px;
            }
        }

        & .img-wrap {
            min-height: 400px;
            display: flex;
            align-items: flex-end;

            @include tablet {
                position: absolute;
                bottom: 100px;
                z-index: -1;
                min-height: auto;

                & img{
                    opacity: 0.2;
                    max-height: 500px;
                    object-fit: contain;
                }
            }
        }
    }
}