.quality {
    & .container {
        display: grid;
        grid-template-columns: 50% 1fr;
        gap: 50px;

        @include small-tablet{
            display: flex;
            flex-direction: column-reverse;
            gap: 25px;
        }
    }

    & .quality_item {

        &:first-child {
            padding: 30px 46px;
            display: flex;
            justify-content: flex-end;
            border-radius: 22px;
            background: rgba(0, 0, 0, 0.2);
            @include bg-cover;
            min-height: 376px;

            @include mobile{
                min-height: 280px;
            }
        }

        & .project_title {
            font-weight: 600;
            font-size: clamp(26px, 4.5vw, 46px);
            line-height: 110%;
            color: #0a0d50;
            margin-bottom: 16px;
        }
        
    }

    & .quality_item_info {
        padding: 16px 24px 24px 16px;
        border-radius: 8px;
        background: #fff;
        max-height: 140px;
        position: relative;

        & .project_desc_grey {
            max-width: 125px;
        }

        & dt {
            font-weight: 600;
            font-size: 40px;
            line-height: 110%;
            letter-spacing: -0.03em;
            color: #0a0d50;

            @include small-tablet{
                font-size: 26px;
            }
        }

        & dl {
            margin-top: 8px;
        }

        & dd{
            
            @include small-tablet{
                font-size: 12px;
                line-height: 1.3;
            }
        }

        & .icon {
            position: absolute;
            top: 16px;
            right: 16px;
            z-index: 1;
        }
    }


}