<section class="choose section">
    <div class="container">
      <div class="flex-row">
        <h2 class="project_title">Why Choose Us</h2>
        <span class="project_desc_grey">Data Light offers unparalleled expertise in AI data solutions, ensuring superior
          data quality and optimized workflows</span>
      </div>
      <div class="flex-row">
        <div class="flex-column">
          <div class="img-wrap">
            <img src="./assets/images/choose/Group427320841.png" alt="" width="438" height="382">
          </div>
          <dl class="h-reset">
            <dt>1000 <span>+</span></dt>
            <dd class="h-reset project_desc_grey">full-time assessors</dd>
          </dl>
          <div class="flex-row">
            <div class="img-wrap">
              <img src="./assets/images/choose/Ellipse1.png" alt="" width="70" height="70">
            </div>
            <div class="img-wrap">
              <img src="./assets/images/choose/Ellipse2.png" alt="" width="70" height="70">
            </div>
            <div class="img-wrap">
              <img src="./assets/images/choose/Ellipse3.png" alt="" width="70" height="70">
            </div>
            <div class="img-wrap">
              <img src="./assets/images/choose/Ellipse4.png" alt="" width="70" height="70">
            </div>
            <span>+</span>
          </div>
        </div>
        <div class="grid-row">
  
          <div class="choose_item">
            <div class="img-wrap">
              <svg class="icon" width="64" height="64">
                <use xlink:href="./assets/images/sprite.svg#svg--Brain,_brainstorm,_idea,_mind"></use>
              </svg>
            </div>
            <h4 class="project_title_h4">Expertise</h4>
            <span>Our team consists of industry-leading experts in AI data solutions</span>
          </div>
  
          <div class="choose_item">
            <div class="img-wrap">
              <svg class="icon" width="64" height="64">
                <use xlink:href="./assets/images/sprite.svg#svg--Achievement,_award,_cup,_goblet,_reward,_trophy"></use>
              </svg>
            </div>
            <h4 class="project_title_h4">Quality</h4>
            <span>We ensure superior data quality to maximize your AI project's potential</span>
          </div>
  
          <div class="choose_item">
            <div class="img-wrap">
              <svg class="icon" width="64" height="64">
                <use xlink:href="./assets/images/sprite.svg#svg--Audience,_goal,_marketing,_target,_target_audience">
                </use>
              </svg>
            </div>
            <h4 class="project_title_h4">Efficiency</h4>
            <span>Our optimized workflows accelerate your model training processes</span>
          </div>
  
          <div class="choose_item">
            <div class="img-wrap">
              <svg class="icon" width="64" height="64">
                <use
                  xlink:href="./assets/images/sprite.svg#svg--Airplane,_business,_launch,_marketing,_paper,_paper_airplane">
                </use>
              </svg>
            </div>
            <h4 class="project_title_h4">Proven Results</h4>
            <span>Our track record of case studies demonstrates our ability to deliver outstanding outcomes</span>
          </div>
  
          <div class="choose_item">
            <div class="img-wrap">
              <svg class="icon" width="64" height="64">
                <use xlink:href="./assets/images/sprite.svg#svg--game,_partners,_puzzle,_solution"></use>
              </svg>
            </div>
            <h4 class="project_title_h4">Customization</h4>
            <span>We tailor our services to meet the specific needs of your AI projects</span>
          </div>
  
          <div class="choose_item">
            <div class="img-wrap">
              <svg class="icon" width="64" height="64">
                <use xlink:href="./assets/images/sprite.svg#svg--Arm_wrestling,_competition,_handshake2"></use>
              </svg>
            </div>
            <h4 class="project_title_h4">Support</h4>
            <span>We provide ongoing support and consultation to ensure continuous success</span>
          </div>
  
  
        </div>
      </div>
    </div>
  </section>
  