<footer class="footer">
    <div class="container">
        <div class="flex-row">
            <div class="flex-column">
                <a href="" class="header_inner_logo">
                    <img src="./assets/images/header/Group.svg" alt="">
                    <span>UNIDATA</span>
                </a>
                <div class="footer_data">
                    <span>ООО «Дата Лайт»</span>
                    <small>Юридический адрес</small>
                    <span>Российская Федерация, 123456, <br>
                        г. Москва, ул. Восстания, д. 1, этаж 1, оф. 1</span>
                </div>
                <div class="footer_social">
                    <a href="">
                        <svg class="icon" width="34" height="34">
                            <use xlink:href="./assets/images/sprite.svg#svg--facebook_logo"></use>
                        </svg>
                    </a>
                    <a href="">
                        <svg class="icon" width="34" height="34">
                            <use xlink:href="./assets/images/sprite.svg#svg--Twitter_logo"></use>
                        </svg>
                    </a>
                    <a href="">
                        <svg class="icon" width="34" height="34">
                            <use xlink:href="./assets/images/sprite.svg#svg--linkedin_logo"></use>
                        </svg>
                    </a>
                    <a href="">
                        <svg class="icon" width="34" height="34">
                            <use xlink:href="./assets/images/sprite.svg#svg--VectorGit"></use>
                        </svg>
                    </a>
                </div>
            </div>
            <div class="grid-row">
                <ul class="footer_menu flex-column list-reset">
                    <li class="footer-title"><a href="">Datasets</a></li>
                    <li><a href="">Service</a></li>
                    <li><a href="">Agency</a></li>
                    <li><a href="">Case Study</a></li>
                    <li><a href="">Resource</a></li>
                    <li><a href="">Contact</a></li>
                </ul>
                <ul class="footer_menu flex-column list-reset">
                    <li class="footer-title"><a href="">Services</a></li>
                    <li><a href="">Privacy Policy</a></li>
                    <li><a href="">Copyright</a></li>
                    <li><a href="">Email Address</a></li>
                </ul>
                <ul class="footer_menu flex-column list-reset">
                    <li class="footer-title"><a href="">Case studies</a></li>
                    <li><a href="">Privacy Policy</a></li>
                    <li><a href="">Copyright</a></li>
                    <li><a href="">Email Address</a></li>
                </ul>
                <ul class="footer_menu flex-column list-reset">
                    <li class="footer-title"><a href="">Case studies</a></li>
                    <li><a href="">Privacy Policy</a></li>
                    <li><a href="">Copyright</a></li>
                    <li><a href="">Email Address</a></li>
                </ul>
              
                <ul class="footer_menu flex-column list-reset">
                    <li class="footer-title"><a href="">Contact</a></li>
                    <li class="footer_item_social"><a href=""><img src="./assets/images/svg/phone.svg" alt="">+7 499 283-83-82</a></li>
                    <li class="footer_item_social"><a href=""><img src="./assets/images/svg/Vector.svg" alt="">info@unidata.pro</a></li>
                </ul>
            </div>
        </div>
    </div>
</footer>