<header class="header">
  <div class="container">
    <div class="header_inner">
      <a href="" class="header_inner_logo">
        <img src="./assets/images/header/Group.svg" alt="">
        <span>UNIDATA</span>
      </a>
      <div class="flex-row">
        <nav>
          <ul class="header_inner_menu list-reset">
            <li class="menu-item menu-item-has-children">
              <a href="">Services</a>
            </li>
            <li class="menu-item menu-item-has-children">
              <a href="">Datasets</a>
            </li>
            <li class="menu-item menu-item-has-children">
              <a href="">Industries</a>
            </li>
            <li class="menu-item menu-item-has-children">
              <a href="">Case studies</a>
            </li>
            <li class="menu-item menu-item-has-children">
              <a href="">About us</a>
            </li>
          </ul>
        </nav>
        
        <a class="header_inner_button project-modal --white" href="">Get started</a>
      </div>

      <button class="burger-menu">
        <span></span>
        <span></span>
        <span></span>
      </button>
      

    </div>
  </div>
</header>