<!DOCTYPE html>
<html lang="ru">

<head>
    {{> head }}
</head>

<body>
    <!-- <object type="image/svg+xml" data="./assets/images/sprite.svg" style="display: none;"></object> -->

    <div class="page">
        {{> header }}

        <main class="main">
            {{> body }}
        </main>
        {{> footer }}
        <div class="overlay"></div>
    </div>
    <!-- <script src="assets/js/app.js"></script> -->
    <script>
        const swiper = new Swiper('.swiper-services', {
            slidesPerView: 3,
            spaceBetween: 18,
            navigation: {
                nextEl: '.swiper-button-next',
                prevEl: '.swiper-button-prev',
            },
        });
        const swiperBlockquote = new Swiper('.swiper-blockquote', {
            slidesPerView: 1,
            spaceBetween: 15,
            navigation: {
                nextEl: '.swiper-button-next',
                prevEl: '.swiper-button-prev',
            },
            pagination: {
                el: '.swiper-pagination',
                type: 'fraction',
                formatFractionCurrent: (number) => `0${number}`, // Формат текущего слайда с ведущим нулем
                formatFractionTotal: (number) => `0${number}`, // Формат общего количества слайдов с ведущим нулем
            },
        });
        document.addEventListener('DOMContentLoaded', () => {
            const burgerMenu = document.querySelector('.burger-menu');
            burgerMenu.addEventListener('click', () => {
                burgerMenu.classList.toggle('open');
            });
        });

    </script>
</body>

</html>